<div class="container">
    <div class="row" *ngIf="currentBlog">
      <div class="col-md-12">
        <h2>{{currentBlog.title}}</h2>
        <!-- <small>blog number - {{currentBlog.blogId}}</small> -->
        <p>posted by {{currentBlog.author}} on {{currentBlog.created | date}}</p>
        <!--<p *ngIf="currentBlog.tags.length>0">tags : <span *ngFor="let tag of currentBlog.tags;let first=first;let last=last">{{tag}}{{last ? '' : ', '}}</span></p>-->
        <hr>
        <div [innerHtml]="currentBlog.bodyHtml"></div>
        <hr>
        <h5>category - {{currentBlog.category}}</h5>
      </div>
    </div>
    <hr>

    