#titlebanner{
    background-color: rgb(34, 45, 56);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#titlename{
    color: beige;
    font-size: 50px;
    font-weight: 800;

    
}
