


<div class= "container-full" id="titlebanner">
  <div>
  <h1 id="titlename">Dummy Blog</h1>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Blogs </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']"><b>Home</b> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['create']"><b>Create</b></a>
        </li>
        
        
      </ul>
    </div>
  </nav>
  <router-outlet ></router-outlet>