



.space{
display: flex;
justify-content: space-around;

}

.card{
    margin:30px;
    width:25vw;
    max-width: 300px;
    min-width: 250px;
    border:1px solid slategray;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.color{
    background-color: rgb(34, 45, 56);
    
}
h4{
    color: beige;
    font-weight: bolder;
}
.btn{
    bottom:10px;
}
