


<div class="container-full no-gutters"*ngIf="allBlogs.length>0" >
  <div class="row space no-gutters">
<div class="card text-center" *ngFor="let blog of allBlogs">
    <div class="card-header color" >
      <h4>{{blog.title}}</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title ">Category: {{blog.category}}</h5>
      <p class="card-text">Description: {{blog.description}}</p>
      <a href="#" class="btn btn-secondary" [routerLink]="['/blog',blog.blogId]" >Read Blog</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  </div>
  </div>
  <router-outlet ></router-outlet>